

<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Edit button</th>
            <th scope="col">Delete button</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stu of students;  let i = index">
            
            <!-- <a routerLink="deleteStudent"></a> -->
            <td>{{ i+1 }}</td>
            <!-- <td>{{ stu.id }}</td> -->
            <td>{{ stu.name }}</td>
            <td><a href="mailto:{{ stu.email }}">{{ stu.email }}</a></td>
            <td><a class="btn btn-primary btn-primary" [routerLink] = "['/updatestudent',stu.id]" role="button">Edit</a></td>
            <td><a class="btn btn-primary btn-warning" (click)='deleteStudent(stu.id!)'>Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>