

<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <!-- <th scope="col">Buttons</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stu of students">
            <!-- <a routerLink="deleteStudent"></a> -->
            <td>{{ stu.id }}</td>
            <td>{{ stu.name }}</td>
            <td><a href="mailto:{{ stu.email }}">{{ stu.email }}</a></td>
            <!-- <td><button type="button" (click)='deleteStudent(stu.id!)'>Delete</button></td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>