
<div class = "container">
<div class="jumbotron">
  <h1 class="display-4">{{  title }}</h1>
  <p class="lead">This is a Simple Student App to add Students</p>
  <hr class="my-4">
  <p>You can store students' details . </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/students" role="button">List Students</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/addstudent" role="button">Add Student</a>
  </p>
</div>
<router-outlet></router-outlet>
</div>
